@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@bgcolor: white;
@textcolor: black;
@textlight: #484848;

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

body{
    height: 100vh;
    background: @bgcolor;
    color: @textcolor;
}

.navbar{
    display: flex;
    justify-content: center;
    padding: 15px;
    position: fixed;
    width: 100vw;
    top: 0px;
    backdrop-filter: blur(20px);
    background: rgba(196, 196, 196, 0.47);
}

.container{
    width: 950px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.footer{
    width: calc(100vw - 100px);
    position: fixed;
    bottom: 0px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    p{
        font-size: 13px;
    }
}

.underconst{
    width: 600px;
    align-self: center;
}

@media only screen and (max-width: 950px) {
    .container{
        width: 100%;
    }
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .underconst{
       width: 80%;
    }
  }
